server {
        listen 80;
        server_name shopify.devcf.su;
        rewrite ^ https://shopify.devcf.su$request_uri? permanent;
}

server {
        listen 443 ssl;
        server_name shopify.devcf.su;
        root /srv/shopify.devcf.su/public;

        ssl_certificate /etc/letsencrypt/live/shopify.devcf.su/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/shopify.devcf.su/privkey.pem;

        index index.php

        include global/restrictions.conf;

        access_log /srv/shopify.devcf.su/logs/access.log;
        error_log /srv/shopify.devcf.su/logs/error.log error;

        client_max_body_size 2m;

        error_log /srv/shopify.devcf.su/application/logs/error.log notice;

        location / {
            try_files $uri /index.php?$query_string;
            # Required for compatibility with Virualbox
            sendfile off;
        }
        location = /index.php {
            include fastcgi.conf;
            fastcgi_pass unix:/run/php/php7.2-fpm.sock;
            fastcgi_index index.php;
        }
}
